<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <cpn></cpn>
    <cpn>
      <!-- 目的是获取子组件中的planguages 
      vue2.5x以下-->
      <template slot-scope="slot">
        <!-- <span v-for="item in slot.data">{{item}}*</span> -->
        <span>{{slot.data.join('-')}}</span>
      </template>
    </cpn>
    <cpn></cpn>
  </div>

  <template id="cpn">
    <div>
      <!-- <ul>
        <li v-for="item in planguages">{{item}}</li>
      </ul> -->
      <slot :data="planguages">
        <ul>
          <li v-for="item in planguages">{{item}}</li>
        </ul>
      </slot>
    </div>
  </template>
  
  <script src="../js/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {},
      methods: {},
      components:{
        cpn:{
          template: '#cpn',
          data(){
            return {
              planguages:['javascript', 'c++', 'java', 'c#', 'python']
            }
          }
        }
      }
    });
  </script>
</body>
</html>